#container {
    width: 600px;
    height: auto;
    margin: 0 auto;
}

/*the Navigation bar */

#navbar {
    width: 600px;
    height: 80px;
    background-color: chocolate;
    font-family: 'Aclonica', sans-serif;
}
.navbar-list ul {
    text-decoration: none;
    float: left;
    margin-top: 30px;
}
.navbar-list li {
    display: inline-block;
}
.navbar-list li a:hover {
    color: brown;
}
.navbar-list li a {
    text-decoration: none;
    color: black;
    padding: 0 15px;
}
.fa-ul li {
    margin-top: 10px;
    display: inline-block;
    float: right;
    padding: 8px;
}
.fa-ul li a:hover {
    color: snow;
}

/*End of the Navigation bar */


/*The content part */

#content {
    width: 600px;
    height: 400px;
}
h3 {
    font-family: 'Aclonica', sans-serif;
    color: aliceblue;
    padding-left: 10px;
    font-size: 50px;
    position: absolute;
    z-index: 2;
}
img {
    width: 600px;
    height: 400px;
    position: absolute;
    z-index: 1;
}

/*The end of content part */


/*The Mainbody part */

#Mainbody {
    width: 600px;
    height: 250px;
    margin-left: 25px;
    color: #333;
}
.section {
    padding-top: 20px;
    width: 180px;
    height: 300px;
    display: inline-block;
}
.section img {
    width: 180px;
    height: 150px;
}
.header {
    width: 150px;
    font-family: 'black', sans-serif;
    color: saddlebrown;
    text-align: center;
    margin-top: 160px;
}
.section-content {
    color: black;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

/*End of Mainbody part */


/*The Footer part */

.order-form {
    width: 600px;
    height: 450px;
    background-color: bisque;
}
footer {
    width: 600px;
    height: 500px;
}
form {
    width: 600px;
    height: 400px;
    float: left;
}
.header-form {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    padding-left: 5px;
    padding-top: 5px;
}
input,
label {
    display: block;
    padding-left: 5px;
}
form p {
    margin-left: 5px;
}
form label {
    color: black;
}
input,
textarea {
    padding: 9px;
    border: 1px solid saddlebrown;
    outline: 0;
    font: 'Roboto Condensed', sans-serif;
    width: 100px;
    background: snow;
    margin-left: 5px;
}
textarea {
    width: 200px;
    height: 100px;
    line-height: 150%;
}
input:hover,
textarea:hover,
input:focus,
textarea:focus {
    border-color: chocolate;
}
.submit input {
    width: auto;
    background: saddlebrown;
    border: 0;
    padding: 8px 12px;
    font-size: 14px;
    color: snow;
    font: 'Roboto Condensed', sans-serif;
}

/* Box shadow effect */

textarea,
input {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}
.submit input {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

/* Box shadow effect */

.map {
    width: 300px;
    height: 500px;
    float: right;
}
.map p {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}
